body {
  font-family: 'lato-sans-serif', 'mastodon-font-sans-serif', sans-serif;
  font-size: 16px;
}

.ui {
  background: $black;
}

.column {
  padding: 0;
}

.drawer {
  padding: 0;
}

@media screen and (min-width: 631px) {
  .drawer:first-child {
    padding: 0;
  }
}

.scrollable {
  border-left: 1px solid rgb(255, 66, 224);
  border-right: 1px solid rgb(177, 11, 66);
}

.tabs-bar {
  background-color: rgb(255, 193, 59);
  background: linear-gradient(160deg, #cb32d3 1%,#ffc13b 29%,#e2aa4f 39%,#fc074c 100%);
  >.active {
    color: rgb(13, 17, 58);
  }
}

.media-modal__nav {
  color: $ui-highlight-color;
}

.column-header {
  color: $black;
  background: rgb(255, 235, 119);
  font-size: 20px;
  font-style: italic;
  border-bottom: 10px solid rgb(255, 66, 129);
  box-shadow: 0 0 10px $ui-primary-color;
  >button {
    text-shadow: 0 0 2px $ui-primary-color;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}

.drawer__header {
  background: $ui-primary-color;
  text-shadow: 0 0 6px $white;
  box-shadow: 0 0 10px rgb(255, 227, 66);
}

.drawer__tab {
  color: $white;
}

.column-header__button {
  color: $black;
  background: lighten($ui-primary-color, 10%);
}

.compose-form__publish-button {
  text-shadow: 0 0 6px $white;
}

.button {
  text-shadow: 0 0 4px rgb(255, 235, 119);
}