@font-face {
  font-family: 'Benguiat';
  src: local('Benguiat Bold'),
    url('../fonts/benguiat/Benguiat-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
  font-family: 'Benguiat';
  src: local('Benguiat Normal'),
    url('../fonts/benguiat/Benguiat-Normal.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
  font-family: 'Benguiat';
  src: local('Benguiat Bold Italic'),
    url('../fonts/benguiat/Benguiat-Bold-Italic-font.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
}