.compose-form__gif-picker-dropdown {
  position: absolute;
  width: 320px;
  height: 400px;
  background: white;
  border-radius: 4px;
}

.compose-form__gif-picker-dropdown-input {
  padding: 7px 9px;
  font-size: 14px;
  border-radius: 4px;
  font-family: inherit;
  border: 1px solid #dadada;
  background: rgba(218, 218, 218, 0.3);
  margin-top: 8px;
  margin-left: 8px;
  width: 80%;
}