.compose-form__gif-picker-dropdown {
  position: absolute;
  background: $white;
  border-radius: 4px;
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.4);
  //background: url('/packs/giphy_badge.gif') $white;
  //background-repeat: no-repeat;
  //background-position: bottom left;
  //background-size: 50px;
}

@media screen and (min-width: 600px) {
  .compose-form__gif-picker-dropdown {
    width: 430px;
    height: 440px;
    margin-left: 40px;
  }

  .compose-form__gif-picker-previews {
    height: 380px;
  }
}

@media screen and (max-width: 600px) {
  .compose-form__gif-picker-dropdown {
    width: 100%;
    height: 240px;
    margin-left: 0;
  }

  .compose-form__gif-picker-previews {
    height: 180px;
  }
}

.compose-form__gif-picker-dropdown-input {
  padding: 7px 9px;
  font-size: 14px;
  border-radius: 4px;
  font-family: inherit;
  border: 1px solid #dadada;
  background: rgba($ui-secondary-color, 0.3);
  margin: 8px 8px auto;
  width: 90%;
}

.compose-form__gif-picker-previews {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5px auto;
}

.gif-preview-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  flex-grow: 1;
  flex-basis: 50%;
}

.gif-picker-preview {
  background-color: $ui-primary-color;
  display: block;
  border: 3px solid $white;
  flex: 0;
  cursor: pointer;
}