.compose-form__gif-picker-dropdown {
  position: absolute;
  width: 430px;
  height: 440px;
  background: $white;
  border-radius: 4px;
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.4);
  margin-left: 40px;
}

.compose-form__gif-picker-dropdown-input {
  padding: 7px 9px;
  font-size: 14px;
  border-radius: 4px;
  font-family: inherit;
  border: 1px solid #dadada;
  background: rgba($ui-secondary-color, 0.3);
  margin: 8px 8px auto;
  width: 90%;
}

.compose-form__gif-picker-previews {
  overflow-y: scroll;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 380px;
  margin: 5px auto;
}

.gif-preview-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  flex-grow: 1;
  flex-basis: 50%;
}

.gif-picker-preview {
  background-color: $white;
  display: block;
  border: 3px solid;
  flex: 0;
}